# Игнорировать файлы Python кэша
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать git
.git/
.gitignore

# Локальные файлы и настройки IDE
*.swp
*.swo
*.idea/
*.vscode/

# Локальные переменные окружения и секреты
.env
.env.*
